* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    align-items: center;
    min-height:100vh;
}

h1{
    font-size: 36px;
}

.main{
    width: 900px;
    height: 450px;
    border: 2px solid black;
    border-bottom: none;
    padding: 3%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
    padding-bottom: 0px;
}

.title{
    width: 70%;
}

.tit{
    font-weight: 500;
}

.mainlogo{
    height: 150px;
    width: 150px;
}

.info{
    height: 25%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    font-size: 20px;
}

.subtext{
    color: gray;
    font-size: 22px;
}

.mini{
    width: 25px;
    height: 25px;
}

.gray{
    font-size: 16px;
    color: gray;
}

.med{
    width: 40px;
    height: 40px;
}

.g{
    height: 25%;
    display: flex;
    align-items: flex-end;
}

.footer{
    border: 2px solid black;
    border-top: none;
    width: 896px;
    height: 10px;
    background-color: rgb(239, 94, 42);
}


@media (max-width: 1180px) {
    .main {
        width: 90%; 
        height: 40%;
    }

    .footer{
        width: 89.2%;
    }

    h1{
        font-size: 20px;
    }

    .subtext{
        font-size: 12px;
    }

    .info {
        height: 50px; 
        font-size: 14px;
    }

    .g {
        height: 50px; 
    }

    .mainlogo{
        height: 80px;
        width: 80px;
    }

    .mini{
        width: 14px;
        height: 14px;
    }

    .med{
        width: 25px;
        height: 25px;
    }
}
